@model Portfolio_Management.Models.StaffDashboardViewModel

<div class="container">
    <!-- Modal -->
    <div id='myModal' class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:800px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div id='myModalContent'>



                </div>
            </div>
        </div>
    </div>
</div>
