
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/production/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>@ViewData["FullName"]</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

}
else
{
        <!-- menu profile quick info -->
    @*<div class="profile clearfix">
        <div class="profile_pic">
            <img src="/production/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Not Logged in</span>
        </div>
    </div>*@
    <!-- /menu profile quick info -->

}